body {

    background-color: #141414;
    color: white;
    font-family: "Verdana", "Geneva", sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    margin 0;
}
.body-box {
    width: 85%;
    background-color: black;
    margin: auto;
}
.showcase {
    height: 200px;
    width: 1000px;
    background-image: url("showcase.jpg");
    margin: auto;
}

#home {
    height: 200px;
    width: 1000px;
    margin: auto;
    display: block;
}

.main-header {
    text-align: center;
    color: #E12121;
}

.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.container h2 {
    color: #dbbdbd;
    text-align: center;
}

.main-footer .container{
    margin-top: 15px;
    font-size: 15px;
    width: 70%;
    text-align: center;
    color: #dbbdbd;
}

.content-table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.7em;
    min-width: 400px;
}

.content-table thead tr {
    background-color: red;
}

.content-table th,
.content-table td {
    padding: 5px;
}

.content-table tbody tr {
    text-align: center;
    color: white;
}

.content-table tbody tr:nth-child(even) {
    background-color:#2e2e2e;
}

.content-table tbody tr:nth-child(odd) {
    background-color: #4a4a4a;
}

.button-area {
    box-shadow: 0 5px 0 darkred;
    background-color: red;
    height: 60px;
    width: 230px;
    margin: 30px auto;
    text-align: center;
    line-height: 60px;
}

.button-area2 {
    box-shadow: 0 5px 0 darkred;
    background-color: red;
    height: 30px;
    width: 139px;
    text-align: center;
    margin: 15px 15px;
    line-height: 30px;
    float: left;
}
.btn-viewDetails{
    background-color: red;
    padding: 10px;
}

.btn-delete{
    background-color: red;
    padding: 10px;
}

.button-area:hover {
    background-color: #A22227;
}

.button-area2:hover {
    background-color: #A22227;
}

.button-area2 a {
    text-decoration: none;
    color: white;
}

#createCar {
    padding: 0.2em 1.6em;
}

#updateCar {
    padding: 0.2em 1.6em;
    padding-right: 1.4em;
}

#deleteCar {
    padding: 0.2em 1.8em;
    padding-right: 1.5em;
}

#searchCar {
    padding: 0.2em 1.6em;
    padding-right: 1.4em;
}

#link1 {
    text-decoration: none;
    color: white;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-right: 4.6em;
    padding-left: 4.6em;
}
#link2 {
    text-decoration: none;
    color: white;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-right: 3.1em;
    padding-left: 3em;
}
#link3 {
    text-decoration: none;
    color: white;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-right: 1.6em;
    padding-left: 1.6em;
}

.button {
    text-decoration: none;
    box-shadow: 0 5px 0 darkred;
    padding: 1em 1.5em;
    color: white;
    background-color: red;
}

.button:hover {
    background-color: #A22227;
    cursor: pointer;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul li {
    margin: 45px;
}

.create-form {
    text-align: center;
    font-size: 0.8em;
    margin: auto;
}

.create-form .label-input {
    padding-bottom: 15px;

}

.create-form .radiogroup {
    padding-bottom: 15px;
}

.create-form input {
    padding: 8px;
}

.create-form input[type="submit"] {
    padding: 15px 30px;
    border: none;
    box-shadow: 0 5px 0 darkred;
    background-color: red;
    font-size: 1em;
    float: center;
}