body {
    background-color: #141414;
    color: white;
    padding: 0px
}

.showcase {
    height: 200px;
    width: 1000px;
    background-image: url("showcase.jpg");
}

.container {
    width: 60%;
}