<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Car Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
    <div class="body-box">
        <header class="main-header">
            <div class="container">
                <h1>Kailua Car Rental</h1>
            </div>
        </header>

        <section class="showcase">
            <a href="/" id="home"></a>
        </section>

        <section class="main-section">
            <div class="container">
                <h2>Car details</h2>
                <p>ID: <span th:text="${car.car_id}" /></p>
                <p>Brand: <span th:text="${car.brand}" /></p>
                <p>Model: <span th:text="${car.model_details}" /></p>
                <p>Registration Number: <span th:text="${car.reg_nr}" /></p>
                <p>Registration Date: <span th:text="${car.reg_date}" /></p>
                <p>Odometer: <span th:text="${car.odometer}" /> km</p>
            </div>
        </section>

        <footer class="main-footer">
            <div class="container">
                <p>Group 5<br>Remi Asher Foss, Max Hektor Balling Merrild, Johan Christoffer Bille, George Ursachi</p>
            </div>
        </footer>
    </div>
</body>
</html>